In [1]:
import pandas as pd

In [2]:
pd.__version__

'0.25.1'

In [3]:
print(pd.__version__)

0.25.1

# Series

In [4]:
arr = [0,1,2,3,4]
s1 = pd.Series(arr)
s1

0    0
1    1
2    2
3    3
4    4
dtype: int64

In [5]:
order = [1,2,3,4,5]
s2 = pd.Series(arr,index=order)
s2

1    0
2    1
3    2
4    3
5    4
dtype: int64

In [6]:
 import numpy as np

In [7]:
n = np.random.randn(5)
n

array([-1.0110213 ,  0.01526865,  0.41177991,  0.8940751 ,  1.54699114])

In [8]:
index = ['a','b','c','d','e']
s3 = pd.Series(n,index=index)
s3

a   -1.011021
b    0.015269
c    0.411780
d    0.894075
e    1.546991
dtype: float64

In [9]:
#create series from a dict
d = {'a':1,'b':2,'c':3,'d':4,'e':5}
s4 = pd.Series(d)
s4

a    1
b    2
c    3
d    4
e    5
dtype: int64

In [12]:
print(s1)
s1.index = ['A','B','C','D','E']
s1

0    0
1    1
2    2
3    3
4    4
dtype: int64

A    0
B    1
C    2
D    3
E    4
dtype: int64

In [13]:
#slicing 
s1[:3]

A    0
B    1
C    2
dtype: int64

In [14]:
s3

a   -1.011021
b    0.015269
c    0.411780
d    0.894075
e    1.546991
dtype: float64

In [15]:
s1

A    0
B    1
C    2
D    3
E    4
dtype: int64

In [16]:
s5 = s1.append(s3)
s5

A    0.000000
B    1.000000
C    2.000000
D    3.000000
E    4.000000
a   -1.011021
b    0.015269
c    0.411780
d    0.894075
e    1.546991
dtype: float64

In [17]:
s4

a    1
b    2
c    3
d    4
e    5
dtype: int64

In [18]:
s5

A    0.000000
B    1.000000
C    2.000000
D    3.000000
E    4.000000
a   -1.011021
b    0.015269
c    0.411780
d    0.894075
e    1.546991
dtype: float64

In [20]:
s5.drop(['e','B'])

A    0.000000
C    2.000000
D    3.000000
E    4.000000
a   -1.011021
b    0.015269
c    0.411780
d    0.894075
dtype: float64

# series operations

In [21]:
arr1 = [0,1,2,3,4,5,7]
arr2 = [6,7,8,9,5]

In [23]:
s6 = pd.Series(arr1)
s6

0    0
1    1
2    2
3    3
4    4
5    5
6    7
dtype: int64

In [24]:
s7 = pd.Series(arr2)
s7

0    6
1    7
2    8
3    9
4    5
dtype: int64

In [27]:
s6.add(s7)

0     6.0
1     8.0
2    10.0
3    12.0
4     9.0
5     NaN
6     NaN
dtype: float64