In [1]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score
from sklearn.metrics import confusion_matrix

In [2]:
#dataset
from sklearn.datasets import load_breast_cancer

In [3]:
breast_data = load_breast_cancer()

In [4]:
from sklearn.model_selection import train_test_split

In [5]:
#the data
x = breast_data.data
y = breast_data.target

In [6]:
#splitting the data
X_train,X_test,y_train,y_test = train_test_split(x,y,test_size=0.25)

In [7]:
X_train.shape

(426, 30)

In [8]:
y_train.shape

(426,)

In [9]:
model = RandomForestClassifier(n_estimators=100)

In [10]:
model.fit(X_train,y_train)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
                       max_depth=None, max_features='auto', max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=100,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

In [11]:
y_pred = model.predict(X_test)

In [13]:
accuracy = accuracy_score(y_test,y_pred)
accuracy

0.951048951048951

In [15]:
accuracy2 = model.score(X_test,y_test)
accuracy2

0.951048951048951

In [16]:
import pandas as pd

In [20]:
df = pd.DataFrame(y_test,y_pred)
df.head(30)

   0
1  1
1  1
1  1
1  1
1  1
1  1
0  0
0  0
1  1
1  1
0  0
1  1
1  1
1  1
1  1
1  1
0  0
1  1
1  1
1  1
1  1
0  0
0  0
0  0
1  1
1  1
0  0
1  1
1  1
0  0