In [1]:
import pandas as pd

In [2]:
xyz_web = {'Day':[1,2,3,4,5,6],'Visitors':[1000,700,6000,1000,400,350],'Bounce_Rate':[20,20,23,15,10,34]}

In [3]:
xyz_web

{'Bounce_Rate': [20, 20, 23, 15, 10, 34],
 'Day': [1, 2, 3, 4, 5, 6],
 'Visitors': [1000, 700, 6000, 1000, 400, 350]}

In [4]:
df = pd.DataFrame(xyz_web)

In [5]:
df

   Day  Visitors  Bounce_Rate
0    1      1000           20
1    2       700           20
2    3      6000           23
3    4      1000           15
4    5       400           10
5    6       350           34

In [6]:
print(df)

   Day  Visitors  Bounce_Rate
0    1      1000           20
1    2       700           20
2    3      6000           23
3    4      1000           15
4    5       400           10
5    6       350           34

In [7]:
df.head(2)

   Day  Visitors  Bounce_Rate
0    1      1000           20
1    2       700           20

In [8]:
df.tail(2)

   Day  Visitors  Bounce_Rate
4    5       400           10
5    6       350           34